@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

.home{
    margin-top: 00px;
    height: 800px;
    color: rgba(255, 255, 255, 0.767);
   


    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(177, 177, 177);
    background: url(./hmm.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 

    
}
.homeleft{
    width: 40%;
   

}
.homeright{
    width: 60%;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tag{
    font-family: 'Ramabhadra', sans-serif;

}
.heading{
    font-size: 5vw;
    font-family: 'Squada One', cursive;
    /* color: rgb(189, 129, 107); */
}
button{
    background-color: transparent;
    font-family: 'Squada One', cursive;
    padding: 10px 15px 10px 15px;
    color: white;
}
.bt{
    width: 20%;
}